@model BTL_Web_NC.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container d-flex justify-content-center align-items-center pt-3">
    <div class="card p-4 shadow-lg" style="max-width: 700px; width: 100%;">
        <h2 class="text-center text-success fw-bold mb-4">Đăng ký tài khoản</h2>

        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="row g-3 d-flex justify-content-between">
                <!-- Họ và tên -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Họ và tên</label>
                        <span class="text-danger small" asp-validation-for="HoTen"></span>
                    </div>
                    <input asp-for="HoTen" class="form-control rounded-pill" type="text" placeholder="Nhập họ và tên">
                </div>

                <!-- Tên tài khoản -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Tên tài khoản</label>
                        <span class="text-danger small" asp-validation-for="TenTaiKhoan"></span>
                    </div>
                    <input asp-for="TenTaiKhoan" class="form-control rounded-pill" type="text" placeholder="Nhập tên tài khoản">
                </div>

                <!-- Email -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Email</label>
                        <span class="text-danger small" asp-validation-for="Email"></span>
                    </div>
                    <input asp-for="Email" class="form-control rounded-pill" type="email" placeholder="Nhập email">
                </div>


                <!-- Mật khẩu -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Mật khẩu</label>
                        <span class="text-danger small" asp-validation-for="MatKhau"></span>
                    </div>
                    <input asp-for="MatKhau" class="form-control rounded-pill" type="password" placeholder="Nhập mật khẩu">
                </div>

                <!-- Số điện thoại -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Số điện thoại</label>
                        <span class="text-danger small" asp-validation-for="SoDienThoai"></span>
                    </div>
                    <input asp-for="SoDienThoai" class="form-control rounded-pill" type="text" placeholder="Nhập số điện thoại">
                </div>

                <!-- Xác nhận mật khẩu -->
                <div class="col-md-6 px-md-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label fw-semibold mb-1 ms-2">Xác nhận mật khẩu</label>
                        <span class="text-danger small" asp-validation-for="XacNhanMatKhau"></span>
                    </div>
                    <input asp-for="XacNhanMatKhau" class="form-control rounded-pill" type="password" placeholder="Nhập lại mật khẩu">
                </div>

                <!-- Chọn vai trò -->
                @* <div class="col-12 px-md-3 mb-2 d-flex">
                    <label class="form-label fw-semibold mx-2">Bạn là:</label>
                    <div class="gap-3 d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="VaiTro" value="ung_vien" id="timViec" checked>
                            <label class="form-check-label" for="timViec">Người tìm việc</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="VaiTro" value="nha_tuyen_dung" id="congTy">
                            <label class="form-check-label" for="congTy">Công ty tuyển dụng</label>
                        </div>
                    </div>
                </div> *@
            </div>

            <!-- Nút đăng ký -->
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-success rounded-pill">Đăng ký</button>
            </div>

            <!-- Liên kết quay lại đăng nhập -->
            <div class="text-center mt-3">
                <p>Đã có tài khoản? 
                    <a asp-controller="Account" asp-action="Login" class="text-decoration-none fw-bold text-primary">Đăng nhập ngay</a>
                </p>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    <script src="~/js/Account/Register.js"></script>
}